<section class="container has-text-centered text-white"> 
    <div class="column is-4 is-offset-4">
        <!-- Render Login -->
        {{#if auth.login}}
        <h3 class="title has-text-white">{{auth.login.header}}</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-white">{{auth.login.subheader}}</p>
        {{/if}}
        <!---Render Signup -->
        {{#if auth.signup}}
            <h3 class="title has-text-white">{{auth.signup.header}}</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-white">{{auth.signup.subheader}}</p>
        {{/if}}
        {{#if auth.join}}
            <h3 class="title has-text-white">{{auth.join.header}}</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-white">{{auth.join.subheader}}</p>
        {{/if}}
        <div class="box">
            <figure class="avatar">
                <img src="/images/crown.png" id="login-crown">
            </figure>
            {{#if auth}}
            <form action="{{auth.formAction}}" method="{{auth.formMethod}}" target="_self">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Username" name="username">
                    </div>
                </div>
                <!-- only render email field when signing up -->
                {{#if auth.signup}}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" placeholder="Your Email" name="email">
                    </div>
                </div>
                {{/if}}

                {{#if auth.join}}
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" placeholder="Game Code" name="gameCode">
                        </div>
                    </div>
                {{/if}}
                {{#if auth.signup}}
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" placeholder="Your Password" name="password">
                    </div>
                </div>
                {{/if}}
                {{#if auth.login}}
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" placeholder="Your Password" name="password">
                        </div>
                    </div>
                {{/if}}
                {{#if auth.login}}
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                {{/if}}
                <button class="button is-block is-info is-large is-fullwidth" id="auth-button">
                    {{auth.method.type}}
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
            </form>
            {{/if}}
        </div>
        <p id="login-anchors">
            <a href="{{auth.method.oppositeRoute}}" class="text-white">{{auth.method.opposite}}</a> &nbsp;·&nbsp;
            <!-- only show forgot password when user is logging in -->
            {{#if auth.login}}
            <a href="../" class="text-white">Forgot Password</a> &nbsp;·&nbsp;
            {{/if}}
            <a href="../" class="text-white">Need Help?</a>
        </p>
    </div>
</section>
<section class="column is-12-mobile is-8-tablet is-hidden text-white" id="right-column"></section>
