<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/crown.png">
    <!-- fill in path for custom stylesheet in relation to /public -->
    <link rel="stylesheet" href="/css/layout-login.css"/>
    <title>Assassination</title>
</head>
<body class="background-black">
<!-- navigation bar to show when in tablet or larger -->
<div class="columns">
    <div class="column">
        <nav class="navbar background-black is-fixed-top is-hidden-mobile" id="navigation">
            <img src="/images/assassination_navbar.png" alt="Assassination: Between Two Kingdoms" class="" id="navigation-img">

            <a href="#game-instructions" class="navbar-item navbar-end is-4 text-white mt-6" id="nav-game">
                The Game
            </a>
            <a href="#role-explanation" class="navbar-item is-4 text-white mt-6 mr-4" id="nav-role">
                The Role Cards
            </a>
        </nav>
    </div>
</div>
<!-- conditionally render login/signup pages -->
{{#if auth}}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
            <!-- Render Login -->
                {{#if auth.login}}
                <h3 class="title has-text-white">{{auth.login.header}}</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-white">{{auth.login.subheader}}</p>
                {{/if}}
            <!---Render Signup -->
                {{#if auth.signup}}
                    <h3 class="title has-text-white">{{auth.signup.header}}</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">{{auth.signup.subheader}}</p>
                {{/if}}
                <div class="box">
                    <figure class="avatar">
                        <img src="/images/crown.png" id="login-crown">
                    </figure>
                    <form action="{{auth.formAction}}" method="post" target="_self">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Username" name="username">
                            </div>
                        </div>
                        <!-- only render email field when signing up -->
                        {{#if auth.signup}}
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" placeholder="Your Email" name="email">
                            </div>
                        </div>
                        {{/if}}
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Your Password" name="password">
                            </div>
                        </div>
                        {{#if auth.login}}
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        {{/if}}
                        <button class="button is-block is-info is-large is-fullwidth">{{auth.method.type}}<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                </div>
                <p id="login-anchors">
                    <a href="{{auth.method.oppositeRoute}}">{{auth.method.opposite}}</a> &nbsp;·&nbsp;
                    <!-- only show forgot password when user is logging in -->
                    {{#if auth.login}}
                    <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                    {{/if}}
                    <a href="../">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>
{{/if}}
<script async type="text/javascript" src="/js/bulma.js"></script>

<footer class="text-white has-text-centered p-6">
    Built by Aaron Jones, Rachel Marriott, Jeremy Anderson, Ilan Timerman, and Lilly Leiran
</footer>
<script src="/js/loginpage.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
